*{
  box-sizing: border-box;
}
span{
  display: flex;
  align-items: center;
}
.dashBoard{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.loadingHeader, .header{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.header{
 justify-content: space-between;
}
.path, .headerActions, .search{
  display: flex;
  gap: 10px;
  height: 100%;
  align-items: center;
  color: darkgrey;
}
.path{
  padding-left: 30px;
}
.headerActions{
  padding-right: 30px;
  cursor: pointer;
}
.pathPiece{
  display: flex;
}
.pathPiece:last-child{
  color: black;
  font-weight: bolder;
}
.pathName{
  cursor: pointer;
}
.path-Separator{
  color: darkgrey;
  font-weight: normal;
  padding-right: 10px;
}
.search{
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px lightblue solid;
  width: 35%;
  padding: 5px;
  height: 85%;
}
.searchIcon{
  display: flex;
  align-items: center;
}
.searchBox{
  border: none;
  background: transparent;
  width: 100%;
}
.searchBox:focus {
  border: none;
  outline: none;
}
.categories{
  background-color: #F1F5FA;
  padding: 30px;
  flex: 1;
}
.categoriesHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.categoriesAction{
  display: flex;
  gap: 10px;
}
.categoriesTitle{
  font-weight: bolder;
  font-size: 20px;
}
.addWidgetBtn, .btnTime{
  background-color: white;
  border: 1px #a9a9a9 solid;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  padding: 10px;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  cursor: pointer;
}
.btnTime{
  color: #1C274C;
  border: 1px #1C274C solid ;
  gap: 5px;
}
.timer{
  border-left: 1px #1C274C solid;
  padding: 0 5px 0;
}
.category{
  padding: 10px;
}
.categoryTitle{
  font-weight: bolder;
  font-size: 16px;
  padding-bottom: 5px;

}
.widgetLayout{
  display: flex;
  gap: 10px;
  width: 100%;
  overflow-x: auto;
}
.widgetLayout::-webkit-scrollbar {
  display: none;                
}
.card{
  background-color: white;
  border-radius: 10px;
  flex:0 0 calc((100% - 20px) / 3);
  height: 200px;
  padding: 10px;
  box-shadow: 4px 8px 8px rgba(97, 144, 175, 0.148);
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
.cardTitle{
  font-weight: bolder;
  font-size: 14px;
}
.noData{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.cardAdd{
  justify-content: center;
  align-items: center;
}
.cardBody, .cardBodyDoughnut{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.cardDescription{
  display: flex;
  gap: 5px;
  align-items:first baseline;
  padding-bottom: 5px;
}
.cardDescriptionValue{
  font-size: 16px;
  font-weight: bolder;
}
.cardDescriptionLabel{
  font-size: 12px;
}
.progressBar{
  height: 14px;
  width: 100%;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}
.progressBarElements{
  height: 14px;
}
.cardLegends, .cardLegendsDoughnut{
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  gap: 10px 0;
}
.cardLegendsDoughnut{
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
.legend{
  display: flex;
  gap: 5px;
  flex: 50%;
  align-items: center;
}
.legendDoughnut{
  flex: none;
}
.legendBox{
  height: 14px;
  width: 14px;
}
.cardBodyDoughnut{
  flex-direction: row;
  padding: 10px;
  justify-content: space-around;
}
.doughnut{
  height: 150px;
  position: relative;
}
.doughnutTotal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;

}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
  display: flex;
  justify-content: flex-end;
}
.addWidgetOverlay{
  width: 40%;
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.overlayHeader{
  background-color: blue;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.overlayTitle{
  font-weight: bolder;
}
.crossBtn{
  border: none;
  background-color: transparent;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  font-size: 16px;
}
.overlayDescription{
  padding: 20px 10px;
}
.overlayTabs{
  display: flex;
  gap: 20px;
  padding-top: 20px;
  border-bottom: 1px lightgrey solid;
  margin: 0 10px;
}
.overlayTab{
  padding: 0 10px 10px;
}
.overlayWidgetsOptions{
  border: 1px lightgrey solid;
  padding: 10px;
  display: flex;
  gap: 10px;
}
.overlayTabSelected{
  border-bottom: 1px blue solid;
}
.overlayTabWidgets{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
.overlayActions{
  display: flex;
  gap:10px;
  justify-content: flex-end;
  padding: 10px;
}
.overlayAction{
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
}
.overlayAction-Cancel{
  background-color: white;
  border:1px darkblue solid;
  color: darkblue;
}
.overlayAction-Confirm{
  background-color: darkblue;
  border:1px darkblue solid;
  color: white;
}